html {
  font-size: 62.5%; /* 16px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh; /*V port height*/
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr; /*1 fr means 1 column*/
  grid-template-rows: 5rem 1fr 5rem; /*3 columns for rows: 'header' 'main'  'footer'  */
  height: 100%; /*to cover whole view*/
}
.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between; /*because staffs are in both left and right*/
  align-items: center; /*make them center here means two divs*/
  padding: 0.5rem;
}
.brand a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color: #ff8000;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center; /* this two lines for center */
  align-items: center;
}
